/* global styles  */
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-height: 100vh;
  background-color: #0d0c6770;
  font-family: system-ui, sans-serif;
}

/* element styles */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.7rem;
}

/* headings */
header {
  text-align: center;
}

/* layout */
main {
  max-width: 90vw;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.stats-wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}

.game-state-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* button styling*/
button {
  padding: 1.5rem;
  line-height: 1em;
  font-size: 1.5rem;

  border: 0;
  border-radius: 0.5rem;
  
  color: rgb(16, 105, 87);
  background-color: #26017b;
  transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: #c8ccd1;
}

button:active {
  background-color: #4e4f51;
}

/* images */
.game-graphic {
  max-height: 33vmin;
  margin-bottom: 32px;
}

.image-container {
  background-color: #e8e3e3;
  padding: 20px; 
  display: inline-block; 
}


.hidden {
  visibility: hidden;
}


h2 {
  color: #5c0b0b;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  color: #640779;
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
}